<!DOCTYPE html>
<html lang="{{ page.language | default: "x-default" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}

    <link rel="alternate" hreflang="x-default" href="https://alpha.viacdn.org/" />
    <link rel="alternate" hreflang="af" href="https://alpha.viacdn.org/af/" />
    <link rel="alternate" hreflang="az" href="https://alpha.viacdn.org/az/" />
    <link rel="alternate" hreflang="be" href="https://alpha.viacdn.org/be/" />
    <link rel="alternate" hreflang="bg" href="https://alpha.viacdn.org/bg/" />
    <link rel="alternate" hreflang="bn" href="https://alpha.viacdn.org/bn/" />
    <link rel="alternate" hreflang="bs" href="https://alpha.viacdn.org/bs/" />
    <link rel="alternate" hreflang="ca" href="https://alpha.viacdn.org/ca/" />
    <link rel="alternate" hreflang="cs" href="https://alpha.viacdn.org/cs/" />
    <link rel="alternate" hreflang="cy" href="https://alpha.viacdn.org/cy/" />
    <link rel="alternate" hreflang="da" href="https://alpha.viacdn.org/da/" />
    <link rel="alternate" hreflang="de" href="https://alpha.viacdn.org/de/" />
    <link rel="alternate" hreflang="el" href="https://alpha.viacdn.org/el/" />
    <link rel="alternate" hreflang="en" href="https://alpha.viacdn.org/en/" />
    <link rel="alternate" hreflang="eo" href="https://alpha.viacdn.org/eo/" />
    <link rel="alternate" hreflang="es" href="https://alpha.viacdn.org/es/" />
    <link rel="alternate" hreflang="et" href="https://alpha.viacdn.org/et/" />
    <link rel="alternate" hreflang="eu" href="https://alpha.viacdn.org/eu/" />
    <link rel="alternate" hreflang="fi" href="https://alpha.viacdn.org/fi/" />
    <link rel="alternate" hreflang="fr" href="https://alpha.viacdn.org/fr/" />
    <link rel="alternate" hreflang="ga" href="https://alpha.viacdn.org/ga/" />
    <link rel="alternate" hreflang="gl" href="https://alpha.viacdn.org/gl/" />
    <link rel="alternate" hreflang="gu" href="https://alpha.viacdn.org/gu/" />
    <link rel="alternate" hreflang="ha" href="https://alpha.viacdn.org/ha/" />
    <link rel="alternate" hreflang="hi" href="https://alpha.viacdn.org/hi/" />
    <link rel="alternate" hreflang="hr" href="https://alpha.viacdn.org/hr/" />
    <link rel="alternate" hreflang="ht" href="https://alpha.viacdn.org/ht/" />
    <link rel="alternate" hreflang="hu" href="https://alpha.viacdn.org/hu/" />
    <link rel="alternate" hreflang="id" href="https://alpha.viacdn.org/id/" />
    <link rel="alternate" hreflang="ig" href="https://alpha.viacdn.org/ig/" />
    <link rel="alternate" hreflang="is" href="https://alpha.viacdn.org/is/" />
    <link rel="alternate" hreflang="it" href="https://alpha.viacdn.org/it/" />
    <link rel="alternate" hreflang="ja" href="https://alpha.viacdn.org/ja/" />
    <link rel="alternate" hreflang="jv" href="https://alpha.viacdn.org/jv/" />
    <link rel="alternate" hreflang="ka" href="https://alpha.viacdn.org/ka/" />
    <link rel="alternate" hreflang="kk" href="https://alpha.viacdn.org/kk/" />
    <link rel="alternate" hreflang="kn" href="https://alpha.viacdn.org/kn/" />
    <link rel="alternate" hreflang="ko" href="https://alpha.viacdn.org/ko/" />
    <link rel="alternate" hreflang="lo" href="https://alpha.viacdn.org/lo/" />
    <link rel="alternate" hreflang="lt" href="https://alpha.viacdn.org/lt/" />
    <link rel="alternate" hreflang="lv" href="https://alpha.viacdn.org/lv/" />
    <link rel="alternate" hreflang="mg" href="https://alpha.viacdn.org/mg/" />
    <link rel="alternate" hreflang="mi" href="https://alpha.viacdn.org/mi/" />
    <link rel="alternate" hreflang="mk" href="https://alpha.viacdn.org/mk/" />
    <link rel="alternate" hreflang="ml" href="https://alpha.viacdn.org/ml/" />
    <link rel="alternate" hreflang="mn" href="https://alpha.viacdn.org/mn/" />
    <link rel="alternate" hreflang="mr" href="https://alpha.viacdn.org/mr/" />
    <link rel="alternate" hreflang="ms" href="https://alpha.viacdn.org/ms/" />
    <link rel="alternate" hreflang="mt" href="https://alpha.viacdn.org/mt/" />
    <link rel="alternate" hreflang="ne" href="https://alpha.viacdn.org/ne/" />
    <link rel="alternate" hreflang="nl" href="https://alpha.viacdn.org/nl/" />
    <link rel="alternate" hreflang="no" href="https://alpha.viacdn.org/no/" />
    <link rel="alternate" hreflang="ny" href="https://alpha.viacdn.org/ny/" />
    <link rel="alternate" hreflang="pl" href="https://alpha.viacdn.org/pl/" />
    <link rel="alternate" hreflang="pt" href="https://alpha.viacdn.org/pt/" />
    <link rel="alternate" hreflang="ro" href="https://alpha.viacdn.org/ro/" />
    <link rel="alternate" hreflang="ru" href="https://alpha.viacdn.org/ru/" />
    <link rel="alternate" hreflang="si" href="https://alpha.viacdn.org/si/" />
    <link rel="alternate" hreflang="sk" href="https://alpha.viacdn.org/sk/" />
    <link rel="alternate" hreflang="sl" href="https://alpha.viacdn.org/sl/" />
    <link rel="alternate" hreflang="so" href="https://alpha.viacdn.org/so/" />
    <link rel="alternate" hreflang="sq" href="https://alpha.viacdn.org/sq/" />
    <link rel="alternate" hreflang="sr" href="https://alpha.viacdn.org/sr/" />
    <link rel="alternate" hreflang="su" href="https://alpha.viacdn.org/su/" />
    <link rel="alternate" hreflang="sv" href="https://alpha.viacdn.org/sv/" />
    <link rel="alternate" hreflang="sw" href="https://alpha.viacdn.org/sw/" />
    <link rel="alternate" hreflang="ta" href="https://alpha.viacdn.org/ta/" />
    <link rel="alternate" hreflang="te" href="https://alpha.viacdn.org/te/" />
    <link rel="alternate" hreflang="tg" href="https://alpha.viacdn.org/tg/" />
    <link rel="alternate" hreflang="th" href="https://alpha.viacdn.org/th/" />
    <link rel="alternate" hreflang="tr" href="https://alpha.viacdn.org/tr/" />
    <link rel="alternate" hreflang="uk" href="https://alpha.viacdn.org/uk/" />
    <link rel="alternate" hreflang="uz" href="https://alpha.viacdn.org/uz/" />
    <link rel="alternate" hreflang="vi" href="https://alpha.viacdn.org/vi/" />
    <link rel="alternate" hreflang="yo" href="https://alpha.viacdn.org/yo/" />
    <link rel="alternate" hreflang="zh" href="https://alpha.viacdn.org/zh/" />
    <link rel="alternate" hreflang="zu" href="https://alpha.viacdn.org/zu/" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#00aba9">
    <meta name="msapplication-navbutton-color" content="#00aba9">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#00aba9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00aba9">
    <meta name="apple-mobile-web-app-title" content="viaCDN &alpha;lpha">
    <meta name="application-name" content="viaCDN &alpha;lpha">
    <meta name="msapplication-TileColor" content="#ffffff">
    
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <meta name="google-site-verification" content="4Mdi1tOzTLwoqcdATgFZqmr3KwYBU6VY-_JTTQrVk9U" />
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="{{ site.url }}/" style="color:#fff;">{{ site.title | default: site.github.repository_name }}</a></h1>
      <h3 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h3>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <div class="main-content">
      <main>
        {{ content }}
      </main>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        
        <span class="site-footer-credits"><strong>viaCDN</strong> (<a href="{{ site.url }}/">α</a>)</span>
      
        <span class="site-footer-credits" style="float:right;">
          <select onchange="window.location.replace(this.options[this.selectedIndex].value)">
            <option value="#" label="---" selected="selected" disabled="disabled">/</option>
            <option value="/" label="Global"/>Global</option>
            <option value="/af/" label="Afrikaans"/>Afrikaans</option>
            <option value="/az/" label="azərbaycan dili"/>azərbaycan dili</option>
            <option value="/be/" label="беларуская мова"/>беларуская мова</option>
            <option value="/bg/" label="български език"/>български език</option>
            <option value="/bn/" label="বাংলা"/>বাংলা</option>
            <option value="/bs/" label="bosanski jezik"/>bosanski jezik</option>
            <option value="/ca/" label="català, valencià"/>català, valencià</option>
            <option value="/cs/" label="čeština, český jazyk"/>čeština, český jazyk</option>
            <option value="/cy/" label="Cymraeg"/>Cymraeg</option>
            <option value="/da/" label="dansk"/>dansk</option>
            <option value="/de/" label="Deutsch"/>Deutsch</option>
            <option value="/el/" label="ελληνικά"/>ελληνικά</option>
            <option value="/en/" label="English"/>English</option>
            <option value="/eo/" label="Esperanto"/>Esperanto</option>
            <option value="/es/" label="Español"/>Español</option>
            <option value="/et/" label="eesti, eesti keel"/>eesti, eesti keel</option>
            <option value="/eu/" label="euskara, euskera"/>euskara, euskera</option>
            <option value="/fi/" label="suomi, suomen kieli"/>suomi, suomen kieli</option>
            <option value="/fr/" label="français, langue française"/>français, langue française</option>
            <option value="/ga/" label="Gaeilge"/>Gaeilge</option>
            <option value="/gl/" label="Galego"/>Galego</option>
            <option value="/gu/" label="ગુજરાતી"/>ગુજરાતી</option>
            <option value="/ha/" label="هَوُسَ"/>هَوُسَ</option>
            <option value="/hi/" label="हिन्दी, हिंदी"/>हिन्दी, हिंदी</option>
            <option value="/hr/" label="hrvatski jezik"/>hrvatski jezik</option>
            <option value="/ht/" label="Kreyòl ayisyen"/>Kreyòl ayisyen</option>
            <option value="/hu/" label="magyar"/>magyar</option>
            <option value="/id/" label="Bahasa Indonesia"/>Bahasa Indonesia</option>
            <option value="/ig/" label="Asụsụ Igbo"/>Asụsụ Igbo</option>
            <option value="/is/" label="Íslenska"/>Íslenska</option>
            <option value="/it/" label="Italiano"/>Italiano</option>
            <option value="/ja/" label="日本語 (にほんご"/>日本語 (にほんご</option>
            <option value="/jv/" label="Basa Jawa"/>Basa Jawa</option>
            <option value="/ka/" label="ქართული"/>ქართული</option>
            <option value="/kk/" label="қазақ тілі"/>қазақ тілі</option>
            <option value="/kn/" label="ಕನ್ನಡ"/>ಕನ್ನಡ</option>
            <option value="/ko/" label="한국어"/>한국어</option>
            <option value="/lo/" label="ພາສາລາວ"/>ພາສາລາວ</option>
            <option value="/lt/" label="lietuvių kalba"/>lietuvių kalba</option>
            <option value="/lv/" label="latviešu valoda"/>latviešu valoda</option>
            <option value="/mg/" label="fiteny malagasy"/>fiteny malagasy</option>
            <option value="/mi/" label="te reo Māori"/>te reo Māori</option>
            <option value="/mk/" label="македонски јазик"/>македонски јазик</option>
            <option value="/ml/" label="മലയാളം"/>മലയാളം</option>
            <option value="/mn/" label="Монгол хэл"/>Монгол хэл</option>
            <option value="/mr/" label="मराठी"/>मराठी</option>
            <option value="/ms/" label="بهاس ملايو‎"/>بهاس ملايو‎</option>
            <option value="/mt/" label="Malti"/>Malti</option>
            <option value="/ne/" label="नेपाली"/>नेपाली</option>
            <option value="/nl/" label="Nederlands, Vlaams"/>Nederlands, Vlaams</option>
            <option value="/no/" label="Norsk"/>Norsk</option>
            <option value="/ny/" label="chiCheŵa, chinyanja"/>chiCheŵa, chinyanja</option>
            <option value="/pl/" label="język polski, Polszczyzna"/>język polski, Polszczyzna</option>
            <option value="/pt/" label="Português"/>Português</option>
            <option value="/ro/" label="Română"/>Română</option>
            <option value="/ru/" label="русский"/>русский</option>
            <option value="/si/" label="සිංහල"/>සිංහල</option>
            <option value="/sk/" label="Slovenčina, Slovenský Jazyk"/>Slovenčina, Slovenský Jazyk</option>
            <option value="/sl/" label="Slovenski Jezik, Slovenščina"/>Slovenski Jezik, Slovenščina</option>
            <option value="/so/" label="Soomaaliga, af Soomaali"/>Soomaaliga, af Soomaali</option>
            <option value="/sq/" label="Shqip"/>Shqip</option>
            <option value="/sr/" label="српски језик"/>српски језик</option>
            <option value="/su/" label="Basa Sunda"/>Basa Sunda</option>
            <option value="/sv/" label="Svenska"/>Svenska</option>
            <option value="/sw/" label="Kiswahili"/>Kiswahili</option>
            <option value="/ta/" label="தமிழ்"/>தமிழ்</option>
            <option value="/te/" label="తెలుగు"/>తెలుగు</option>
            <option value="/tg/" label="тоҷикӣ, toçikī, تاجیکی‎"/>тоҷикӣ, toçikī, تاجیکی‎</option>
            <option value="/th/" label="ไทย"/>ไทย</option>
            <option value="/tr/" label="Türkçe"/>Türkçe</option>
            <option value="/uk/" label="Українська"/>Українська</option>
            <option value="/uz/" label="Oʻzbek, Ўзбек, أۇزبېك‎"/>Oʻzbek, Ўзбек, أۇزبېك‎</option>
            <option value="/vi/" label="Tiếng Việt"/>Tiếng Việt</option>
            <option value="/yo/" label="Yorùbá"/>Yorùbá</option>
            <option value="/zh/" label="中文, 汉语, 漢語"/>中文, 汉语, 漢語</option>
            <option value="/zu/" label="isiZulu"/>isiZulu</option>
          </select>
        </span>
        
      </footer>
    </div>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
  </body>
</html>
